@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

.reveal .slides section .fragment.grow.visible {
  color: #31708f;
}

.reveal .blue {
  color: #31708f;
}

.reveal .red {
  color: #a94442;
}

.reveal .green {
  color: #3c763d;
}

.reveal i{
    font-family: 'FontAwesome';
    font-style: normal;
}

i.fa {
  font-size: 0.7em;
  padding: 0.05em;
}

div .panel-default {
  background-color: rgba(83, 84, 94, 0.1);
  padding: 0.6em;
}

.navbar {
  min-height: 0em;
  margin-bottom: 0.1em;
}

.nav {
  font-family: 'Play', sans-serif;
  font-size: 0.8em;
}

.navbar-default {
  background-image: linear-gradient(to top,#D5D6D1 0,#F0F1EB 100%);
}

.navbar-nav>li>a {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  line-height: inherit;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #F0F1EB;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #F0F1EB;
  background-color: #080808;
}

.reveal {
  font-family: 'Raleway', sans-serif;
  font-size: 1.9em;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #53545E; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  /*color: #2C4952;*/
  color: #53545E;
  font-family: "Play", sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none; }

.reveal .slide-number {
  color: #53545E;
  position: fixed;
  display: block;
  right: 15px;
  bottom: 15px;
  opacity: .7;
  z-index: 31;
  width: 3em;
  font-size: 0.5em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle; }

  /*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }
