.reveal .big {
  font-size: 2.1em;
}

.reveal .light {
  color: rgb(240, 241, 235);
}

.reveal .light > h1 {
  color: rgb(240, 241, 235);
}

.reveal ul > li.icon {
  list-style-type: none;
  text-indent: -0.9em;
}

.reveal ul > li.plus:before {    
  font-family: 'FontAwesome';
  content: '\f067';
  width: 1.8em;
  font-size: 0.5em;
  color: #3c763d;
  margin-right: 1em;
}

.reveal ul > li.minus:before {    
  font-family: 'FontAwesome';
  content: '\f068';
  width: 1.8em;
  font-size: 0.5em;
  color: #a94442;
  margin-right: 1em;
}

.reveal ul > li.tilde:before {    
  font-family: 'monospace';
  font-weight: bold;
  content: '\223c';
  width: 1.8em;
  font-size: 0.8em;
  color: #cfc100;
  margin-right: 0.5em;
}

.reveal pre.big {
  font-size: 1.8em;
  width: 100%;
  line-height: 1.2em;
}

.reveal .rfooter {
  position: fixed; 
  bottom: 5%; 
  right: 1%; 
  font-size: 1.2em;
}

.reveal svg.crossover {
  display: block;
  position: fixed;
  top: 20%;
  left: 30%;
  transform: rotate(-105deg);
}

.cross {
  fill:#a94442;
  fill-opacity:1.0000000;
  fill-rule:nonzero;
  stroke:none;
  stroke-width:1.0000000px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1.0000000;
}

h1.normal-font, 
h2.normal-font, 
h3.normal-font, 
h4.normal-font {
  font-variant: normal;
}

h3.conda {
  /* color: #009ACF; */
  color: #43B02A;
}

h3.venv {
  color: #009ACF;
}