<link rel="stylesheet" href="{{ .Site.BaseURL }}/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font-awesome-4.5.0.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/badge_only.css">
{{ range .Site.Params.Styles }}
{{ $sass := resources.Get . }}
{{ $style := $sass | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
